bs4
lxml
requests
numpy
pandas
pymongo
openpyxl
tushare
requests_html
twine
tornado
baostock
h5py
flask-login
xmltodict
psutil
APScheduler
protobuf==3.11.3
Flask
zmq

# --------------------- UI ---------------------
pyqt5
# pyqtgraph
pyqtgraph==0.11.0rc0
pyqtwebengine
matplotlib

# ------------------ Windows ------------------

PyWeChatSpy
