pyqt5
# pyqtgraph
pyqtgraph==0.11.0rc0
pyqtwebengine
bs4
lxml
requests
numpy
pandas
pymongo
openpyxl
tushare
matplotlib
requests_html
PyExecJS
twine
tornado
baostock
h5py
flask-login
xmltodict
psutil
APScheduler
protobuf==3.11.3
Flask==1.1.2
zmq
