appdirs==1.4.4
beautifulsoup4==4.8.2
bleach==3.1.5
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
cycler==0.10.0
docutils==0.16
et-xmlfile==1.0.1
fake-useragent==0.1.11
idna==2.9
importlib-metadata==1.6.0
jdcal==1.4.1
Jinja2==2.11.2
Js2Py==0.70
keyring==21.2.1
kiwisolver==1.1.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.0
mpl-finance==0.10.1
numpy==1.18.1
openpyxl==3.0.3
packaging==20.3
pandas==1.0.1
parse==1.15.0
pkginfo==1.5.0.1
prettytable==0.7.2
pyecharts==1.7.1
pyee==7.0.2
PyExecJS==1.5.1
Pygments==2.6.1
pyjsparser==2.7.1
# pylab-sdk==1.1.2
pymongo==3.10.1
pyparsing==2.4.6
pyppeteer==0.2.2
PyQt5==5.12
PyQt5-sip==4.19.19
PyQtWebEngine==5.12
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
readme-renderer==26.0
requests==2.23.0
requests-html==0.10.0
requests-toolbelt==0.9.1
simplejson==3.17.0
six==1.14.0
soupsieve==2.0
StockAnalysisSystem==0.0.6
style==1.1.0
tqdm==4.46.0
tushare==1.2.54
twine==3.1.1
tzlocal==2.1
update==0.0.1
urllib3==1.25.8
w3lib==1.22.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
wincertstore==0.2
zipp==3.1.0
